body {
    font: 20px Montserrat, sans-serif;
    color: #f5f6f7;
    overflow: hidden;
}
nav{
	height:10vh;
}
.container-fluid{
	padding-top: 10px;
    padding-bottom: 10px;
	height:70vh;
}
p {
    font-size: 16px;
}

footer { 
    background-color: #2f2f2f; /* Black Gray */
    color: #fff;
	height:10vh;
}
.robot {
    position: relative; 
    background-color: #1abc9c; /* Green */
    color: #ffffff;
}
.robot-cartoon{
	position:relative;
	z-index: 5;
	pointer-events: none;
}

.navbar {
    padding-top: 2px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.icon{
    height: 40px;
    width: auto;
}

.circle{
    position: absolute;
	background: red;
    opacity: 0.5;
}
.message{
	display: none;
    white-space: nowrap;
    background: darkslategray;
}
